
* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
main {
    /* margin: 0px; */
    background-image: url('../images/circuit.png');
    width: 100%;
    /* border: 1px solid red; */
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
    margin: 0px;
    padding-top: 15px;
    /* padding-bottom: 15px; */
}

p, ul {
    line-height: 170%;
}

#title-section {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 15px;
}

#body-title {
    color: #4aaaa5;
}
#body-section {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
}
footer {
    background-color: #666666;
    color: #dddddd;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-size: 10pt;
}

.btn-color4aaaa5 {
    background-color: #4aaaa5;
    color: #ffffff;
}

.btn-color4aaaa5:hover {
    background-color: #2a8a85;
    color: #ffffff;
}